In [25]:
import pandas as pd
import numpy as np
import re

df = pd.read_excel('/Users/micahbenson/Downloads/mdc_main_data.xlsx')
df = df.drop(columns=['Picture 2021', 'Picture 2022', 'Ticket Number'])

#text formatting
df = df.apply(lambda x: x.str.lower().str.strip() if x.dtype == object else x)
df.columns = df.columns.str.lower().str.replace(" ", "_").str.strip()

#encode school attendance
school_sems = ["fall_semester_2022", "summer_school_2022", "spring_semester_2023"]
for sem in school_sems: 
    clean = df[sem].apply(lambda x: str(x))
    clean = clean.apply(lambda x: "attend" if "attend" in x else x)
    clean = np.where((clean == "attend") | (clean == "yes"), 1, 0)
    df[sem] = clean

#Create col that determines child/adult
df["Child"] = df["relacion"].apply(lambda x: "child" if "child" in str(x) else "adult")

#More things to do... 
#Normalizing dataset
#fams = df.groupby('family_water_number').first()

#start_dict = fams["fecha_de_inicio_agua"].to_dict()
#This method should work if I set the index to the family number and somehow specify it to fill based on row not col... 
#df["fecha_de_inicio_agua"].fillna(start_dict)


grouped = df.groupby('family_water_number')
grouped["fecha_de_inicio_agua"].first()




#lambda x: int(re.search(r'\d+', x).group())




#fam_cols = ["fecha_de_inicio_agua", "select_for_faf", "attended_pic_day_2021"]
#fams = fams[fam_cols]

family_water_number
family 01                 2021-06-04
family 02                 2021-06-04
family 03                 2021-06-27
family 04                 2021-06-27
family 05                 2021-06-04
                             ...
family 96                        NaT
family 97 - not besitos          NaT
family 98                        NaT
family 99                        NaT
famiy 70                         NaT
Name: fecha_de_inicio_agua, Length: 154, dtype: datetime64[ns]

In [1]:
import pandas as pd
from src import clean

df = pd.read_excel('/Users/micahbenson/Downloads/mdc_main_data.xlsx')
drop = ['Picture 2021', 'Picture 2022', 'Ticket Number', "Relacion", "# of botellas", 
        "Feria de medico 5/21", "Feria de medico 11/21", "4/22 med fair", 
        "Invite april 2023 med fair", "Family never attended a medical fair"]
df = df.drop(columns=drop)
df = clean.text_clean(df)

df = clean.clean_fall_semester_2022(df)
df = clean.clean_spring_semester_2023(df)
df = clean.clean_summer_school_2022(df)
df = clean.clean_super_saturday(df)
df = clean.clean_weight_loss(df)
df = clean.clean_2021_pic(df)
df = clean.clean_dropout(df)
df = clean.is_child(df)

    Family Water Number Unique Family Number Fall Semester 2022
0             family 01                  100                 no  \
1             family 01                  101                 no
2             family 01                  102                 no
3             family 02                  200                 no
4             family 02                  201                 no
..                  ...                  ...                ...
593          family 922                  NaN                 no
594          family 924                  NaN                 no
595          family 924                  NaN                 no
596          family 925                  NaN                 no
597          family 926                  NaN                 no

    Summer School 2022 Spring Semester 2023 Adult Or Child Number
0                   no                   no                     0  \
1                   no                   no                     a
2                   no                   no                     1
3                   no                   no                     0
4                   no                   no                     a
..                 ...                  ...                   ...
593                 no                   no                   NaN
594                 no                   no                   NaN
595                 no                   no                   NaN
596                 no                   no                   NaN
597                 no                   no                   NaN

    Fecha De Inicio Agua 11/22Med  Fair Dropped Out Of School Super Saturday
0    2021-06-04 00:00:00            NaN                   NaN            yes  \
1                    NaN            NaN                   NaN             no
2    2021-06-04 00:00:00            NaN                   NaN             no
3    2021-06-04 00:00:00            NaN                   NaN             no
4    2021-06-04 00:00:00            NaN                   NaN             no
..                   ...            ...                   ...            ...
593                  NaN            NaN                   NaN             no
594                  NaN            NaN                   NaN             no
595                  NaN            NaN                   NaN             no
596                  NaN            NaN                   NaN             no
597                  NaN            NaN                   NaN             no

     ... 4/23 Cavitys 4/23 Fractures 4/23 Missing 4/23 Sdf 4/23 Sealant
0    ...            1            NaN            1        1          NaN  \
1    ...          NaN            NaN          NaN      NaN          NaN
2    ...          NaN            NaN          NaN      NaN          NaN
3    ...          NaN            NaN          NaN      NaN          NaN
4    ...          NaN            NaN          NaN      NaN          NaN
..   ...          ...            ...          ...      ...          ...
593  ...          NaN            NaN          NaN      NaN          NaN
594  ...          NaN            NaN          NaN      NaN          NaN
595  ...          NaN            NaN          NaN      NaN          NaN
596  ...          NaN            NaN          NaN      NaN          NaN
597  ...          NaN            NaN          NaN      NaN          NaN

    4/23 Filling 4/23 Extractions 4/23 Notes Unnamed: 285 Is Dropout
0            NaN              NaN        NaN          NaN         no
1            NaN              NaN        NaN          NaN         no
2            NaN              NaN        NaN          NaN         no
3            NaN              NaN        NaN          NaN         no
4            NaN              NaN        NaN          NaN         no
..           ...              ...        ...          ...        ...
593          NaN              NaN        NaN          NaN         no
594          NaN              NaN        NaN          NaN         no
595          NaN              NaN        NaN          NaN         no
596          NaN              NaN        NaN          NaN         no
597          NaN              NaN        NaN          NaN         no

[598 rows x 277 columns]

TypeError: clean_fall_semester_2022() missing 1 required positional argument: 'name'

In [58]:
import pandas as pd

dict = {
    "A": ["12", "2.434",],
    "B": ["12.32 Boy5", "1.232 kg"]
}

df = pd.DataFrame(dict)

df.applymap(lambda x: float(x) if x.replace(".", "").isnumeric() \
              else (float((re.sub(r'[^.\d]', '', x))) if re.sub(r'[^\d]', '', x).isnumeric() else pd.NA))
.applymap(lambda x: re.sub(r'^(.*?)\s.*', r'\1', x))

       A      B
0     12  12.32
1  2.434  1.232